<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="\delete-user\<%=id%>" method="post">
      <fieldset>
        <legend>Form delete data</legend>
        <span>Bạn có chắc muốn xóa người dùng <%= id %></span>
        <button>Sure</button>
      </fieldset>
    </form>
  </body>
</html>
