<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create user</a>
    </div>

    <div class="container">
      <div class="form-add-new">
        <form action="/edit-user/<%=theUser.id%>" method="post">
          <fieldset>
            <legend>Form edit user</legend>
            <div class="input-group">
              <label for="username">username:</label>
              <input
                name="username"
                type="text"
                value="<%=theUser.username%>"
              />
            </div>
            <div class="input-group">
              <label for="email">email:</label>
              <input name="email" type="text" value="<%=theUser.email%>" />
            </div>
            <div class="input-group">
              <label for="city">city:</label>
              <input name="city" type="text" value="<%=theUser.city%>" />
            </div>
            <button class="btn-add">update</button>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
